@import-normalize;

html {
  background: #000;
}

body {
  width: 375px;
  max-width: 375px;
  height: 667px;
  max-height: 667px;
  box-sizing: border-box;
  padding-top: 20px;
  margin: 20px auto 0;
  background: #fff;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
